{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container pb-5">
        <div class="row">
            <div class="col">
                <!-- Any header content can go here -->
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
        <div class="col">
          <hr>
          <h2 class="logo-font mb-4">Thanks for your order!</h2>
        </div>
    </div>
    
   <script src="{% static 'client.js' %}" defer></script>

  <section>
    <div class="product Box-root">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="16px" viewBox="0 0 14 16" version="1.1">
          <defs/>
          <g id="Flow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="0-Default" transform="translate(-121.000000, -40.000000)" fill="#E184DF">
                  <path d="M127,50 L126,50 C123.238576,50 121,47.7614237 121,45 C121,42.2385763 123.238576,40 126,40 L135,40 L135,56 L133,56 L133,42 L129,42 L129,56 L127,56 L127,50 Z M127,48 L127,42 L126,42 C124.343146,42 123,43.3431458 123,45 C123,46.6568542 124.343146,48 126,48 L127,48 Z" id="Pilcrow"/>
              </g>
          </g>
      </svg>
      <div class="description Box-root">
        
        <div class=" card text-center">
          <div class="card-header text-light bg-dark ">        
          <h4>Subscription to Starter plan successful!</h4>
          </div>
          <div class=" card-body">
            <p class= card-title>Session ID: {{ session_id }}</p>
            <!-- Displaying User info -->
            <div> User: {{ request.user.username }} </div>

            <!-- Form to redirect the user to Stripe customer portal -->
            <form action="{% url 'direct-to-customer-portal' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" id="session-id" name="session_id" value="{{ request.GET.session_id }}" />
              <button class="btn btn-dark mt-3" id="checkout-and-portal-button" type="submit">Manage your billing information</button>
            </form>
          </div>
          <div class="card-footer text-center text-light bg-dark text-body-secondary">
            <h4>Better Yourself Today!</h4>
          </div>
        
      </div>
    </div>

   
  </section>
{% endblock %}
